<!doctype html>
<html lang="chinese (simplified)">
<head>
  <meta charset="utf-8">
  <!-- Site Meta Data -->
  <title>555555</title>
  <meta name="description" content="">
  <meta name="author" content="the_toast">

  <!-- Style Meta Data -->
  <link rel="stylesheet" href="/theme/css/notebook.css" type="text/css" />
  <link rel="shortcut icon" href="/avatar.png">

  <!-- Feed Meta Data -->
  <link href="/" type="application/atom+xml" rel="alternate" title="the_toast ATOM Feed" />

  <!-- Twitter Feed -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:image" content="/avatar.png">

<meta name="twitter:creator" content="">
<meta name="twitter:url" content="/555555.html">
<meta name="twitter:title" content="the_toast ~ 555555">
<meta name="twitter:description" content="<h1>5、设置<a href="https://www.osgeo.cn/pelican/settings.html#settings">¶</a></h1>
<p>Pelican是可配置的，这要归功于您可以传递到命令行的设置文件：</p>
<div class="highlight"><pre><span></span><code>pelican content -s path/to/your/pelicanconf.py
</code></pre></div>

<p>如果你用 <code>pelican-quickstart</code> 命令，您的主设置文件将被命名为 …</p>">

<!-- Facebook Meta Data -->
<meta property="og:title" content="the_toast ~ 555555" />
<meta property="og:description" content="<h1>5、设置<a href="https://www.osgeo.cn/pelican/settings.html#settings">¶</a></h1>
<p>Pelican是可配置的，这要归功于您可以传递到命令行的设置文件：</p>
<div class="highlight"><pre><span></span><code>pelican content -s path/to/your/pelicanconf.py
</code></pre></div>

<p>如果你用 <code>pelican-quickstart</code> 命令，您的主设置文件将被命名为 …</p>" />
<meta property="og:image" content="avatar.png" />
</head>

<body>
  <!-- Sidebar -->
  <aside>
    <p><a href=""><img id="avatar" src="/theme/images/avatar.png"></a></p>
    <h1>the_toast</h1>
    <p></p>
    <hr>
    <h2>Social</h2>
    <ul class="social">
      <li style="list-style-image : url(/theme/images/icons/github.png);"><a href="#">GitHub</a></li>
      <li style="list-style-image : url(/theme/images/icons/facebook.png);"><a href="#">facebook</a></li>
      <li style="list-style-image : url(/theme/images/icons/github2.png);"><a href="#">GitHub2</a></li>
      <li style="list-style-image : url(/theme/images/icons/phone.png);"><a href="13304036141">phone</a></li>
      <li style="list-style-image : url(/theme/images/icons/rss.png);"><a href="/" rel="alternate"><i class="icon-bookmark icon-large"></i>Atom feed</a></li>
    </ul>
    <h2>Categories</h2>
    <ul class="navbar">
      <li class="active"><a href="/category/review.html">Review</a></li>
    </ul> 
  </aside>

  <!-- Content -->
  <article>
<section id="content">
    <article>
        <header class="post_list">
            <h2 class="post_title"><a href="/555555.html" rel="bookmark" title="Permalink to 555555">555555</a></h2>
            <span>Par </span>
            <a href="/author/the_toast.html">@the_toast</a>
            <span> dans </span>
            <span class="post_category"><a href="/category/review.html" rel="bookmark" title="Permalink to Review">[ Review ]</a></span>
            <span> le </span>
            <span class="post_date">周五 03 十二月 2010</span>
            <div><span>Tags : </span>
            </div>

            <div class="entry-social">
                <span class="twitter"><a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;" title="Twitter" href="https://twitter.com/share?url=/555555.html&text=555555&via=">Twitter</a></span>

                <span class="gplus"><a target="_blank" title="Google +" href="https://plus.google.com/share?url=/555555.html&hl=fr" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">Google+</a></span>

                <span class="facebook"><a target="_blank" title="Facebook" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" href="https://www.facebook.com/sharer.php?u=/555555.html&t=555555">Facebook</a></span>

                <a  target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=</555555.html&title=555555" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">Linkedin</a>

                <span class="mail"><a href="mailto:?subject=555555&amp;body=Viens découvrir un article à propos de [555555] sur le site de the_toast. /555555.html" title="Share by Email" target="_blank">Mail</a></span>
            </div>
        </header>
        <div class="entry-content">
            <h1>5、设置<a href="https://www.osgeo.cn/pelican/settings.html#settings">¶</a></h1>
<p>Pelican是可配置的，这要归功于您可以传递到命令行的设置文件：</p>
<div class="highlight"><pre><span></span><code>pelican content -s path/to/your/pelicanconf.py
</code></pre></div>

<p>如果你用 <code>pelican-quickstart</code> 命令，您的主设置文件将被命名为 <code>pelicanconf.py</code> 默认情况下。</p>
<p>您也可以通过 <code>-e</code> / <code>--extra-settings</code> 选项标志，它将覆盖默认设置以及设置文件中定义的任何设置：</p>
<div class="highlight"><pre><span></span><code>pelican content -e DELETE_OUTPUT_DIRECTORY=true
</code></pre></div>

<p>注解</p>
<p>当尝试使用不同的设置（尤其是元数据设置）时，缓存可能会干扰，并且更改可能不可见。在这种情况下，使用禁用缓存 <code>LOAD_CONTENT_CACHE = False</code> 或者使用 <code>--ignore-cache</code> 命令行开关。</p>
<p>设置以Python模块（文件）的形式配置。有一个 <a href="https://github.com/getpelican/pelican/raw/master/samples/pelican.conf.py">example settings file</a> 可供参考。</p>
<p>要查看环境中当前设置的列表，包括默认值和任何自定义值，请运行以下命令（附加一个或多个特定的设置名称作为参数，以便仅查看这些设置的值）：</p>
<div class="highlight"><pre><span></span><code>pelican --print-settings
</code></pre></div>

<p>所有设置标识符必须设置为所有大写字母，否则将不处理它们。设置数字（5、20等）、布尔值（True、False、None等）、字典或元组的值应该 <em>not</em> 用引号括起来。所有其他值（即字符串） <em>must</em> 用引号括起来。</p>
<p>除非另有规定，否则引用路径的设置可以是绝对的，也可以是相对于配置文件的。您在配置文件中定义的设置将传递给模板，模板允许您使用设置添加站点范围的内容。</p>
<p>以下是Pelican的设置列表：</p>
<h2>基本设置<a href="https://www.osgeo.cn/pelican/settings.html#basic-settings">¶</a></h2>
<ul>
<li>USE_FOLDER_AS_CATEGORY = True</li>
</ul>
<p>如果未在post元数据中指定类别，请将此设置设置为 <code>True</code> ，并将文章组织到子文件夹中，则该子文件夹将成为您文章的类别。如果设置为 <code>False</code> ， <code>DEFAULT_CATEGORY</code> 将用作备用。</p>
<ul>
<li>DEFAULT_CATEGORY = 'misc'</li>
</ul>
<p>要依赖的默认类别。</p>
<ul>
<li>DISPLAY_PAGES_ON_MENU = True</li>
</ul>
<p>是否在模板的菜单上显示页面。模板可能支持也可能不支持此设置。</p>
<ul>
<li>DISPLAY_CATEGORIES_ON_MENU = True</li>
</ul>
<p>是否在模板的菜单上显示类别。模板可能不支持此设置。</p>
<ul>
<li>DOCUTILS_SETTINGS = {}</li>
</ul>
<p>docutils发布程序的额外配置设置（仅适用于RestructedText）。看到了吗 <a href="http://docutils.sourceforge.net/docs/user/config.html">Docutils Configuration</a> 设置以获取更多详细信息。</p>
<ul>
<li>DELETE_OUTPUT_DIRECTORY = False</li>
</ul>
<p>删除输出目录，然后 <strong>all</strong> 在生成新文件之前。这有助于防止旧的、不必要的文件保留在输出中。然而， <strong>这是一个破坏性的设置，应该非常小心地处理。</strong></p>
<ul>
<li>OUTPUT_RETENTION = []</li>
</ul>
<p>应该保留而不是从输出目录中删除的文件名的列表。一个用例是保存版本控制数据。例子：<code>OUTPUT_RETENTION = [".hg", ".git", ".bzr"]</code></p>
<ul>
<li>JINJA_ENVIRONMENT = {'trim_blocks': True, 'lstrip_blocks': True}</li>
</ul>
<p>要使用的自定义Jinja2环境变量的字典。这还包括一个您可能想要包含的扩展名列表。看到了吗 <a href="https://jinja.palletsprojects.com/en/latest/api/#jinja2.Environment">Jinja Environment documentation</a> .</p>
<ul>
<li>JINJA_FILTERS = {}</li>
</ul>
<p>你想使用的自定义Jinja2过滤器字典。字典应该将filtername映射到filter函数。例子：<code>import sys sys.path.append('to/your/path') from custom_filter import urlencode_filter JINJA_FILTERS = {'urlencode': urlencode_filter}</code>参见： <a href="https://jinja.palletsprojects.com/en/latest/api/#custom-filters">Jinja custom filters documentation</a> .</p>
<ul>
<li>JINJA_GLOBALS = {}</li>
</ul>
<p>要映射到Jinja2全局环境名称空间的自定义对象字典。字典应该将全局名称映射到全局变量/函数。参见： <a href="https://jinja.palletsprojects.com/en/latest/api/#the-global-namespace">Jinja global namespace documentation</a> .</p>
<ul>
<li>JINJA_TESTS = {}</li>
</ul>
<p>你想使用的自定义Jinja2测试词典。字典应该将测试名称映射到测试函数。参见： <a href="https://jinja.palletsprojects.com/en/latest/api/#custom-tests">Jinja custom tests documentation</a> .</p>
<ul>
<li>LOG_FILTER = []</li>
</ul>
<p>包含日志记录级别的元组列表（最多 <code>warning</code> )以及要忽略的信息。例子：<code>LOG_FILTER = [(logging.WARN, 'TAG_SAVE_AS is set to False')]</code></p>
<ul>
<li>READERS = {}</li>
</ul>
<p>供Pelican处理或忽略的文件扩展名/读取器类词典。例如，要避免处理.html文件，请设置：<code>READERS = {'html': None}</code>为添加自定义读取器 <code>foo</code> 扩展，设置：<code>READERS = {'foo': FooReader}</code></p>
<ul>
<li>IGNORE_FILES = ['.#*']</li>
</ul>
<p>全局模式列表。处理器将忽略与这些模式匹配的文件和目录。例如，默认值 <code>['.#*']</code> emacs将忽略文件 <code>['__pycache__']</code> 会忽略Python3的字节码缓存。</p>
<ul>
<li>MARKDOWN = {...}</li>
</ul>
<p>降价处理器的额外配置设置。请参阅Python Markdown文档 <a href="https://python-markdown.github.io/reference/#markdown">Options section</a> 以获取支持选项的完整列表。这个 <code>extensions</code> 选项将自动从 <code>extension_configs</code> 选择权。默认为：<code>MARKDOWN = {    'extension_configs': {        'markdown.extensions.codehilite': {'css_class': 'highlight'},        'markdown.extensions.extra': {},        'markdown.extensions.meta': {},    },    'output_format': 'html5', }</code>注解设置文件中定义的词典将替换此默认词典。</p>
<ul>
<li>OUTPUT_PATH = 'output/'</li>
</ul>
<p>生成文件的输出位置。这应该与web服务器的虚拟主机根目录相对应。</p>
<ul>
<li>PATH<a href="https://www.osgeo.cn/pelican/settings.html#PATH">¶</a></li>
</ul>
<p>Pelican要处理的内容目录的路径。如果未定义，则未通过参数指定内容路径 <code>pelican</code> 命令，Pelican将使用当前工作目录。</p>
<ul>
<li>PAGE_PATHS = ['pages']</li>
</ul>
<p>要查找页面的目录和文件的列表，相对于 <code>PATH</code> .</p>
<ul>
<li>PAGE_EXCLUDES = []</li>
</ul>
<p>在查找除 <code>ARTICLE_PATHS</code> .</p>
<ul>
<li>ARTICLE_PATHS = ['']</li>
</ul>
<p>要查看的文章的目录和文件的列表，相对于 <code>PATH</code> .</p>
<ul>
<li>ARTICLE_EXCLUDES = []</li>
</ul>
<p>在查找除 <code>PAGE_PATHS</code> .</p>
<ul>
<li>OUTPUT_SOURCES = False</li>
</ul>
<p>如果要将文章和页面的原始格式（例如Markdown或restructedText）复制到指定的 <code>OUTPUT_PATH</code> .</p>
<ul>
<li>OUTPUT_SOURCES_EXTENSION = '.text'</li>
</ul>
<p>控制SourcesGenerator将使用的扩展。默认为 <code>.text</code> . 如果不是有效字符串，将使用默认值。</p>
<ul>
<li>PLUGINS = None</li>
</ul>
<p>要加载的插件列表。看到了吗 <a href="https://www.osgeo.cn/pelican/plugins.html#plugins">插件</a> .</p>
<ul>
<li>PLUGIN_PATHS = []</li>
</ul>
<p>查找插件的目录列表。看到了吗 <a href="https://www.osgeo.cn/pelican/plugins.html#plugins">插件</a> .</p>
<ul>
<li>SITENAME = 'A Pelican Blog'</li>
</ul>
<p>您的站点名称</p>
<ul>
<li>SITEURL<a href="https://www.osgeo.cn/pelican/settings.html#SITEURL">¶</a></li>
</ul>
<p>网站的基本URL。默认情况下没有定义，因此最好指定您的SITEURL；如果不这样做，则不会使用格式正确的URL生成提要。如果您的站点可通过HTTPS访问，则此设置应以 <code>https://</code> -否则使用 <code>http://</code> . 然后附加你的域，结尾不带斜杠。例子： <code>SITEURL = 'https://example.com'</code></p>
<ul>
<li>STATIC_PATHS = ['images']</li>
</ul>
<p>目录列表（相对于 <code>PATH</code> )在其中查找静态文件。这样的文件将被复制到输出目录而不做任何修改。文章、页面和其他内容源文件通常会被跳过，因此目录在此处和中同时出现是安全的 <code>PAGE_PATHS</code> 或 <code>ARTICLE_PATHS</code> . Pelican的默认设置包括这里的“images”目录。</p>
<ul>
<li>STATIC_EXCLUDES = []</li>
</ul>
<p>查找静态文件时要排除的目录列表。</p>
<ul>
<li>STATIC_EXCLUDE_SOURCES = True</li>
</ul>
<p>如果设置为False，则在复制中找到的文件时不会跳过内容源文件 <code>STATIC_PATHS</code> . 此设置用于向后兼容Pelican 3.5版之前的版本。它没有效果，除非 <code>STATIC_PATHS</code> 包含一个目录 <code>ARTICLE_PATHS</code> 或 <code>PAGE_PATHS</code> . 如果要发布站点的源文件，请考虑使用 <code>OUTPUT_SOURCES</code> 改为设置。</p>
<ul>
<li>STATIC_CREATE_LINKS = False</li>
</ul>
<p>创建链接而不是复制文件。如果内容和输出目录在同一设备上，则创建硬链接。如果输出目录在不同的文件系统上，则返回到符号链接。如果创建了符号链接，不要忘记添加 <code>-L</code> 或 <code>--copy-links</code> 上传站点时rsync选项。</p>
<ul>
<li>STATIC_CHECK_IF_MODIFIED = False</li>
</ul>
<p>如果设置为 <code>True</code> 和 <code>STATIC_CREATE_LINKS</code> 是 <code>False</code> ，比较内容和输出文件的mtimes，只复制比现有输出文件更新的内容文件。</p>
<ul>
<li>TYPOGRIFY = False</li>
</ul>
<p>如果设置为True，将通过 <a href="https://pypi.org/project/typogrify/">Typogrify</a> 库，可通过以下方式安装： <code>python -m pip install typogrify</code></p>
<ul>
<li>TYPOGRIFY_IGNORE_TAGS = []</li>
</ul>
<p>typegrify要忽略的标记列表。默认情况下，typegrify将忽略 <code>pre</code> 和 <code>code</code> 标签。这需要安装TypeGrify 2.0.4或更高版本</p>
<ul>
<li>TYPOGRIFY_DASHES = 'default'</li>
</ul>
<p>此设置控制typegrify如何设置Smartypants过滤器以解释多个短划线/连字符/减号字符。一个ASCII短划线字符 (<code>-</code> )始终呈现为连字符。这个 <code>default</code> 设置不处理短划线，并将双连字符转换为em短划线。这个 <code>oldschool</code> 设置在看到两个破折号时同时呈现en破折号和em破折号 (<code>--</code> )还有三个 (<code>---</code> )分别是连字符。这个 <code>oldschool_inverted</code> 设置将两个连字符转换为em短划线，将三个连字符转换为en短划线。</p>
<ul>
<li>SUMMARY_MAX_LENGTH = 50</li>
</ul>
<p>当创建一篇文章的简短摘要时，这将是所创建文本的默认长度（以单词度量）。这仅适用于您的内容没有以其他方式指定摘要的情况。设置为 <code>None</code> 将导致摘要成为原始内容的副本。</p>
<ul>
<li>SUMMARY_END_SUFFIX = '…'</li>
</ul>
<p>当创建一篇文章的简短摘要并且结果被截断以匹配所需的单词长度时，这将被用作截断后缀。</p>
<ul>
<li>WITH_FUTURE_DATES = True</li>
</ul>
<p>如果禁用，则具有将来日期的内容将获得默认状态 <code>draft</code> . 见 <a href="https://www.osgeo.cn/pelican/settings.html#reading-only-modified-content">只读修改内容</a> 注意事项。</p>
<ul>
<li>INTRASITE_LINK_REGEX = '<a href="?P&lt;what&gt;.*?">{|</a>[|}]'</li>
</ul>
<p>用于分析内部链接的正则表达式。链接到内部文件、标记等时的默认语法是将标识符括起来，例如 <code>filename</code> 在 <code>{{}}</code> 或 <code>||</code> . 标识符介于 <code>{{</code> 和 <code>}}</code> 进入 <code>what</code> 正在捕获组。有关详细信息，请参阅 <a href="https://www.osgeo.cn/pelican/content.html#ref-linking-to-internal-content">链接到内部内容</a> .</p>
<ul>
<li>PYGMENTS_RST_OPTIONS = []</li>
</ul>
<p>ReconstructedText代码块的默认Pygments设置列表。看到了吗 <a href="https://www.osgeo.cn/pelican/content.html#internal-pygments-options">语法突出显示</a> 以获取支持选项的列表。</p>
<ul>
<li>CACHE_CONTENT = False</li>
</ul>
<p>如果 <code>True</code> ，将内容保存在缓存中。看到了吗 <a href="https://www.osgeo.cn/pelican/settings.html#reading-only-modified-content">只读修改内容</a> 有关缓存的详细信息。</p>
<ul>
<li>CONTENT_CACHING_LAYER = 'reader'</li>
</ul>
<p>如果设置为 <code>'reader'</code> ，只保存读取器返回的原始内容和元数据。如果设置为 <code>'generator'</code> ，保存已处理的内容对象。</p>
<ul>
<li>CACHE_PATH = 'cache'</li>
</ul>
<p>存储缓存文件的目录。</p>
<ul>
<li>GZIP_CACHE = True</li>
</ul>
<p>如果 <code>True</code> ，使用gzip压缩缓存文件。</p>
<ul>
<li>CHECK_MODIFIED_METHOD = 'mtime'</li>
</ul>
<p>控制如何检查文件的修改。</p>
<ul>
<li>LOAD_CONTENT_CACHE = False</li>
</ul>
<p>如果 <code>True</code> ，从缓存加载未修改的内容。</p>
<ul>
<li>WRITE_SELECTED = []</li>
</ul>
<p>如果此列表不为空， <strong>only</strong> 输出文件及其路径在此列表中被写入。路径应该是绝对的或相对于当前的Pelican工作目录。有关可能的用例，请参见 <a href="https://www.osgeo.cn/pelican/settings.html#writing-only-selected-content">仅写入选定内容</a> .</p>
<ul>
<li>FORMATTED_FIELDS = ['summary']</li>
</ul>
<p>包含要解析并转换为HTML的reST/Markdown内容的元数据字段列表。</p>
<ul>
<li>PORT = 8000</li>
</ul>
<p>当pelican使用--listen运行时，通过HTTP从输出文件夹提供内容的TCP端口</p>
<ul>
<li>BIND = ''</li>
</ul>
<p>要将HTTP服务器绑定到的IP。</p>
<h2>URL设置<a href="https://www.osgeo.cn/pelican/settings.html#url-settings">¶</a></h2>
<p>首先要了解的是，目前有两种支持的URL形成方法： <em>相对的</em> 和 <em>绝对的</em> . 相对URL在本地测试时很有用，绝对URL是可靠的，在发布时最有用。支持两者的一种方法是使用一个Pelican配置文件进行本地开发，另一个用于发布。要查看此类设置的示例，请使用 <code>pelican-quickstart</code> 脚本如中所述 <a href="https://www.osgeo.cn/pelican/install.html">Installation</a> 部分，它将分别为本地开发和发布生成两个单独的配置文件。</p>
<p>您可以自定义保存文件的URL和位置。这个 <code>*_URL</code> 和 <code>*_SAVE_AS</code> 使用Python的字符串格式变量。这些变量允许您将文章放在诸如 <code>{{slug}}/index.html</code> 并将其链接为 <code>{{slug}}</code> 对于干净的URL（见下面的示例）。这些设置使您能够灵活地将文章和页面放在任何您想要的位置。</p>
<p>注解</p>
<p>如果A <code>*_SAVE_AS</code> 设置包含的父目录与对应的 <code>*_URL</code> 设置时，这可能会导致Pelican在某些情况下生成意外的URL，例如在使用 <code>{{attach}}</code> 语法。</p>
<p>如果您不希望这种灵活性，而是希望生成的输出路径镜像源内容的文件系统路径层次结构，请尝试以下设置：</p>
<div class="highlight"><pre><span></span><code>PATH_METADATA = &#39;(?P&lt;path_no_ext&gt;.*)\..*&#39;
ARTICLE_URL = ARTICLE_SAVE_AS = PAGE_URL = PAGE_SAVE_AS = &#39;{path_no_ext}.html&#39;
</code></pre></div>

<p>否则，可以在URL相关设置中使用各种文件元数据属性：</p>
<ul>
<li>slug</li>
<li>日期</li>
<li>朗</li>
<li>作者</li>
<li>类别</li>
</ul>
<p>示例用法：</p>
<div class="highlight"><pre><span></span><code>ARTICLE_URL = &#39;posts/{date:%Y}/{date:%b}/{date:%d}/{slug}/&#39;
ARTICLE_SAVE_AS = &#39;posts/{date:%Y}/{date:%b}/{date:%d}/{slug}/index.html&#39;
PAGE_URL = &#39;pages/{slug}/&#39;
PAGE_SAVE_AS = &#39;pages/{slug}/index.html&#39;
</code></pre></div>

<p>这样可以把你的文章保存成 <code>/posts/2011/Aug/07/sample-post/index.html</code> ，将页面保存到 <code>/pages/about/index.html</code> ，并在 <code>/posts/2011/Aug/07/sample-post/</code> 和 <code>/pages/about/</code> ，分别。</p>
<p>注解</p>
<p>如果您指定一个 <code>datetime</code> 指令中，它将被使用输入文件的日期元数据属性替换。如果没有为特定文件指定日期，鹈鹕将依赖于该文件的 <code>mtime</code> 时间戳。检查 <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior">Python datetime documentation</a> 了解更多信息。</p>
<ul>
<li>RELATIVE_URLS = False</li>
</ul>
<p>定义Pelican是否应使用文档相对URL。只需将此设置为 <code>True</code> 当开发/测试时，并且只有当您完全理解它对链接/提要的影响时。</p>
<ul>
<li>ARTICLE_URL = '{slug}.html'</li>
</ul>
<p>引用文章的URL。</p>
<ul>
<li>ARTICLE_SAVE_AS = '{slug}.html'</li>
</ul>
<p>保存文章的地方。</p>
<ul>
<li>ARTICLE_LANG_URL = '{slug}-{lang}.html'</li>
</ul>
<p>指向不使用默认语言的文章的URL。</p>
<ul>
<li>ARTICLE_LANG_SAVE_AS = '{slug}-{lang}.html'</li>
</ul>
<p>保存不使用默认语言的文章的位置。</p>
<ul>
<li>DRAFT_URL = 'drafts/{slug}.html'</li>
</ul>
<p>引用文章草稿的URL。</p>
<ul>
<li>DRAFT_SAVE_AS = 'drafts/{slug}.html'</li>
</ul>
<p>保存文章草稿的地方。</p>
<ul>
<li>DRAFT_LANG_URL = 'drafts/{slug}-{lang}.html'</li>
</ul>
<p>指向不使用默认语言的文章草稿的URL。</p>
<ul>
<li>DRAFT_LANG_SAVE_AS = 'drafts/{slug}-{lang}.html'</li>
</ul>
<p>保存不使用默认语言的文章草稿的位置。</p>
<ul>
<li>PAGE_URL = 'pages/{slug}.html'</li>
</ul>
<p>我们将用于链接到页面的URL。</p>
<ul>
<li>PAGE_SAVE_AS = 'pages/{slug}.html'</li>
</ul>
<p>保存页面的位置。此值必须与PAGE_URL相同，否则需要在服务器配置中使用重写。</p>
<ul>
<li>PAGE_LANG_URL = 'pages/{slug}-{lang}.html'</li>
</ul>
<p>我们将用于链接到不使用默认语言的页面的URL。</p>
<ul>
<li>PAGE_LANG_SAVE_AS = 'pages/{slug}-{lang}.html'</li>
</ul>
<p>我们将保存不使用默认语言的页面的位置。</p>
<ul>
<li>DRAFT_PAGE_URL = 'drafts/pages/{slug}.html'</li>
</ul>
<p>用于链接到页面草稿的URL。</p>
<ul>
<li>DRAFT_PAGE_SAVE_AS = 'drafts/pages/{slug}.html'</li>
</ul>
<p>保存页面草稿的实际位置。</p>
<ul>
<li>DRAFT_PAGE_LANG_URL = 'drafts/pages/{slug}-{lang}.html'</li>
</ul>
<p>用于链接到不使用默认语言的页面草稿的URL。</p>
<ul>
<li>DRAFT_PAGE_LANG_SAVE_AS = 'drafts/pages/{slug}-{lang}.html'</li>
</ul>
<p>不使用默认语言的页面草稿保存在的实际位置。</p>
<ul>
<li>AUTHOR_URL = 'author/{slug}.html'</li>
</ul>
<p>用于作者的URL。</p>
<ul>
<li>AUTHOR_SAVE_AS = 'author/{slug}.html'</li>
</ul>
<p>保存作者的位置。</p>
<ul>
<li>CATEGORY_URL = 'category/{slug}.html'</li>
</ul>
<p>用于类别的URL。</p>
<ul>
<li>CATEGORY_SAVE_AS = 'category/{slug}.html'</li>
</ul>
<p>保存类别的位置。</p>
<ul>
<li>TAG_URL = 'tag/{slug}.html'</li>
</ul>
<p>用于标记的URL。</p>
<ul>
<li>TAG_SAVE_AS = 'tag/{slug}.html'</li>
</ul>
<p>保存标记页的位置。</p>
<p>注解</p>
<p>如果您不希望创建一个或多个默认页面（例如，您是站点上唯一的作者，因此不需要作者页面），请设置相应的 <code>*_SAVE_AS</code> 设置为 <code>''</code> 以防止生成相关页面。</p>
<p>Pelican可以选择创建每年，每月，每天你的职位档案。默认情况下，这些辅助存档处于禁用状态，但如果您为它们各自提供格式字符串，则会自动启用它们 <code>_SAVE_AS</code> 设置。Period存档直观地符合web url的层次模型，并且可以使读者更容易地浏览您随时间撰写的文章。</p>
<p>示例用法：</p>
<div class="highlight"><pre><span></span><code>YEAR_ARCHIVE_SAVE_AS = &#39;posts/{date:%Y}/index.html&#39;
MONTH_ARCHIVE_SAVE_AS = &#39;posts/{date:%Y}/{date:%b}/index.html&#39;
</code></pre></div>

<p>佩利肯将为你的所有职位创建一个档案 <code>posts/2011/index.html</code> 还有一个你这个月所有帖子的档案 <code>posts/2011/Aug/index.html</code> .</p>
<p>注解</p>
<p>当最终路径段为 <code>index.html</code> . 这样，读者就可以删除你的URL的一部分，并自动到达一个适当的文章存档，而不必指定页面名称。</p>
<ul>
<li>YEAR_ARCHIVE_URL = ''</li>
</ul>
<p>你的文章每年存档使用的URL。只有当你有 <code>{{url}}</code> 占位符 <code>PAGINATION_PATTERNS</code> .</p>
<ul>
<li>YEAR_ARCHIVE_SAVE_AS = ''</li>
</ul>
<p>每年保存你的文章档案的位置。</p>
<ul>
<li>MONTH_ARCHIVE_URL = ''</li>
</ul>
<p>用于每月存档文章的URL。只有当你有 <code>{{url}}</code> 占位符 <code>PAGINATION_PATTERNS</code> .</p>
<ul>
<li>MONTH_ARCHIVE_SAVE_AS = ''</li>
</ul>
<p>每月保存文章档案的位置。</p>
<ul>
<li>DAY_ARCHIVE_URL = ''</li>
</ul>
<p>用于每天存档文章的URL。只有当你有 <code>{{url}}</code> 占位符 <code>PAGINATION_PATTERNS</code> .</p>
<ul>
<li>DAY_ARCHIVE_SAVE_AS = ''</li>
</ul>
<p>每天保存你的文章档案的位置。</p>
<p><code>DIRECT_TEMPLATES</code> 工作有点不同于上面提到的。只有 <code>_SAVE_AS</code> 设置可用，但可用于任何直接模板。</p>
<ul>
<li>ARCHIVES_SAVE_AS = 'archives.html'</li>
</ul>
<p>保存文章存档页的位置。</p>
<ul>
<li>AUTHORS_SAVE_AS = 'authors.html'</li>
</ul>
<p>保存作者列表的位置。</p>
<ul>
<li>CATEGORIES_SAVE_AS = 'categories.html'</li>
</ul>
<p>保存类别列表的位置。</p>
<ul>
<li>TAGS_SAVE_AS = 'tags.html'</li>
</ul>
<p>保存标记列表的位置。</p>
<ul>
<li>INDEX_SAVE_AS = 'index.html'</li>
</ul>
<p>保存所有项目列表的位置。</p>
<p>直接模板页面的URL依赖于主题。有些主题使用相应的 <code>*_URL</code> 设置为字符串，而其他人硬编码它们： <code>'archives.html'</code> ， <code>'authors.html'</code> ， <code>'categories.html'</code> ， <code>'tags.html'</code> .</p>
<ul>
<li>SLUGIFY_SOURCE = 'title'</li>
</ul>
<p>指定要自动生成段塞的位置。可以设置为 <code>title</code> 使用“Title:”元数据标记或 <code>basename</code> 在创建slug时使用文章的文件名。</p>
<ul>
<li>SLUGIFY_USE_UNICODE = False</li>
</ul>
<p>允许在段塞中使用Unicode字符。设置 <code>True</code> 在自动生成的段中保留Unicode字符。否则，Unicode字符将替换为ASCII等效字符。</p>
<ul>
<li>SLUGIFY_PRESERVE_CASE = False</li>
</ul>
<p>保留段塞中的大写字符。设置 <code>True</code> 防止大写字符 <code>SLUGIFY_SOURCE</code> 原来如此。</p>
<ul>
<li>
<p>SLUG_REGEX_SUBSTITUTIONS = [</p>
</li>
<li>
<p>(r'[^\w\s-]', ''), # remove non-alphabetical/whitespace/'-' chars</p>
</li>
<li>
<p>(r'(?u)\A\s*', ''), # strip leading whitespace</p>
</li>
<li>
<p>(r'(?u)\s*\Z', ''), # strip trailing whitespace</p>
</li>
<li>
<p>(r'[-\s]+', '-'), # reduce multiple whitespace or '-' to single '-'</p>
</li>
<li>
<p>]</p>
</li>
</ul>
<p>生成文章和页面的段塞时要进行的正则表达式替换。指定为对的列表 <code>(from, to)</code> 顺序应用，忽略大小写。默认替换的效果是删除非字母数字字符并将内部空白转换为破折号。除了这些替换之外，slug总是被转换成小写的ascii字符，并且去掉前导和尾随的空白。有助于与现有URL向后兼容。</p>
<ul>
<li>AUTHOR_REGEX_SUBSTITUTIONS = SLUG_REGEX_SUBSTITUTIONS</li>
</ul>
<p>正则表达式替换为作者slug。默认为 <code>SLUG_REGEX_SUBSTITUTIONS</code> .</p>
<ul>
<li>CATEGORY_REGEX_SUBSTITUTIONS = SLUG_REGEX_SUBSTITUTIONS</li>
</ul>
<p>类段塞的正则表达式替换。默认为 <code>SLUG_REGEX_SUBSTITUTIONS</code> .</p>
<ul>
<li>TAG_REGEX_SUBSTITUTIONS = SLUG_REGEX_SUBSTITUTIONS</li>
</ul>
<p>标记段塞的正则表达式替换。默认为 <code>SLUG_REGEX_SUBSTITUTIONS</code> .</p>
<h2>时间和日期<a href="https://www.osgeo.cn/pelican/settings.html#time-and-date">¶</a></h2>
<ul>
<li>TIMEZONE<a href="https://www.osgeo.cn/pelican/settings.html#TIMEZONE">¶</a></li>
</ul>
<p>日期信息中用于生成Atom和RSS提要的时区。如果没有定义时区，则假定为UTC。这意味着，如果您的语言环境不是UTC，则生成的Atom和RSS提要将包含不正确的日期信息。Pelican在未定义此设置的情况下发出警告，因为它在以前的版本中不是必需的。看一看 <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">the wikipedia page</a> 获取有效时区值的列表。</p>
<ul>
<li>DEFAULT_DATE = None</li>
</ul>
<p>要使用的默认日期。如果 <code>'fs'</code> ，如果无法从元数据中获取日期信息，则Pelican将使用文件系统时间戳信息（mtime）。如果给定任何其他字符串，则将使用与项目元数据相同的方法对其进行解析。如果设置为tuple对象，则将通过将tuple传递给 <code>datetime.datetime</code> 建造师。</p>
<ul>
<li>DEFAULT_DATE_FORMAT = '%a %d %B %Y'</li>
</ul>
<p>要使用的默认日期格式。</p>
<ul>
<li>DATE_FORMATS = {}</li>
</ul>
<p>如果您管理多种语言，可以在此处设置日期格式。如果没有 <code>DATE_FORMATS</code> 都准备好了，Pelican就要倒下了 <code>DEFAULT_DATE_FORMAT</code> . 如果需要维护具有不同日期格式的多种语言，可以设置 <code>DATE_FORMATS</code> 使用语言名称的词典 (<code>lang</code> 你的文章内容中的元数据）作为密钥。除中列出的标准C89 strftime格式代码外 <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior">Python datetime documentation</a> ，您可以使用 <code>-</code> 字符介于 <code>%</code> 以及格式字符以删除任何前导零。例如， <code>%d/%m/%Y</code> 意志输出 <code>01/01/2014</code> 反之 <code>%-d/%-m/%Y</code> 将导致 <code>1/1/2014</code> .<code>DATE_FORMATS = {    'en': '%a, %d %b %Y',    'jp': '%Y-%m-%d(%a)', }</code>也可以使用 <code>(locale, format)</code> 元组作为字典值，它将重写 <code>LOCALE</code> 设置：<code># On Unix/Linux DATE_FORMATS = {    'en': ('en_US','%a, %d %b %Y'),    'jp': ('ja_JP','%Y-%m-%d(%a)'), } # On Windows DATE_FORMATS = {    'en': ('usa','%a, %d %b %Y'),    'jp': ('jpn','%Y-%m-%d(%a)'), }</code></p>
<ul>
<li>LOCALE<a href="https://www.osgeo.cn/pelican/settings.html#LOCALE">¶</a></li>
</ul>
<p>更改区域设置 <a href="https://www.osgeo.cn/pelican/settings.html#id3">1</a>. 可以在这里提供区域设置列表，也可以提供表示一个区域设置的单个字符串。当提供列表时，将尝试所有区域设置，直到其中一个可用为止。您可以设置区域设置以进一步控制日期格式：<code>LOCALE = ('usa', 'jpn',      # On Windows          'en_US', 'ja_JP'   # On Unix/Linux )</code>有关可用区域设置的列表，请参阅 <a href="https://www.microsoft.com/en-us/download/details.aspx?id=55979">locales on Windows</a> 或者在Unix/Linux上，使用 <code>locale -a</code> 命令；请参阅手册页 <a href="https://linux.die.net/man/1/locale">locale(1)</a> 更多信息。</p>
<ul>
<li><a href="https://www.osgeo.cn/pelican/settings.html#id2">1</a></li>
</ul>
<p>默认为系统区域设置。</p>
<h2>模板页<a href="https://www.osgeo.cn/pelican/settings.html#template-pages">¶</a></h2>
<ul>
<li>TEMPLATE_PAGES = None</li>
</ul>
<p>一个映射，其中包含将与博客条目一起呈现的模板页面。如果您想在博客条目之外生成自定义页面，您可以指向任何Jinja2模板文件，其中包含指向该文件的路径和生成文件的目标路径。例如，如果你有一个有三个静态页面的博客，一个图书列表，你的简历，一个联系人页面，你可以有：<code>TEMPLATE_PAGES = {'src/books.html': 'dest/books.html',                  'src/resume.html': 'dest/resume.html',                  'src/contact.html': 'dest/contact.html'}</code></p>
<ul>
<li>TEMPLATE_EXTENSIONS = ['.html']</li>
</ul>
<p>从模板名称中查找模板文件时要使用的扩展名。</p>
<ul>
<li>DIRECT_TEMPLATES = ['index', 'authors', 'categories', 'tags', 'archives']</li>
</ul>
<p>直接用于呈现内容的模板列表。通常直接模板用于为内容集合生成索引页（例如，类别和标记索引页）。如果不需要author、category和tag集合，则设置 <code>DIRECT_TEMPLATES = ['index', 'archives']``DIRECT_TEMPLATES</code> 搜索中维护的路径 <code>THEME_TEMPLATES_OVERRIDES</code> .</p>
<h2>元数据<a href="https://www.osgeo.cn/pelican/settings.html#metadata">¶</a></h2>
<ul>
<li>AUTHOR<a href="https://www.osgeo.cn/pelican/settings.html#AUTHOR">¶</a></li>
</ul>
<p>默认作者（通常是您的姓名）。</p>
<ul>
<li>DEFAULT_METADATA = {}</li>
</ul>
<p>要用于所有项目和页面的默认元数据。</p>
<ul>
<li>FILENAME_METADATA = r'(?P<date>\d{4}-\d{2}-\d{2}).*'</li>
</ul>
<p>将用于从文件名中提取任何元数据的regexp。所有匹配的命名组都将在元数据对象中设置。默认值将只从文件名中提取日期。例如，要同时提取日期和段塞：<code>FILENAME_METADATA = r'(?P&lt;date&gt;\d{4}-\d{2}-\d{2})_(?P&lt;slug&gt;.*)'</code>也见 <code>SLUGIFY_SOURCE</code> .</p>
<ul>
<li>PATH_METADATA = ''</li>
</ul>
<p>喜欢 <code>FILENAME_METADATA</code> ，但从页面相对于内容源目录的完整路径进行分析。</p>
<ul>
<li>EXTRA_PATH_METADATA = {}</li>
</ul>
<p>由相对路径键控的额外元数据字典。相对路径需要正确的操作系统特定的目录分隔符（例如，在UNIX中为./在Windows中为\），与其他一些Pelican文件设置不同。指向某个目录的路径将应用于该目录下的所有文件。最具体的路径会赢得冲突。</p>
<p>并非所有元数据都需要 <a href="https://www.osgeo.cn/pelican/content.html#internal-metadata">embedded in source file itself</a> . 例如，博客文章通常以 <code>YYYY-MM-DD-SLUG.rst</code> 或者嵌套到 <code>YYYY/MM/DD-SLUG</code> 目录。要从文件名或路径中提取元数据，请设置 <code>FILENAME_METADATA</code> 或 <code>PATH_METADATA</code> 使用Python的 <a href="https://docs.python.org/3/library/re.html#regular-expression-syntax">group name notation</a> <code>(?P&lt;name&gt;…)</code> . 如果要附加附加元数据，但不想在路径中对其进行编码，可以设置 <code>EXTRA_PATH_METADATA</code> ：</p>
<div class="highlight"><pre><span></span><code>EXTRA_PATH_METADATA = {
    &#39;relative/path/to/file-1&#39;: {
        &#39;key-1a&#39;: &#39;value-1a&#39;,
        &#39;key-1b&#39;: &#39;value-1b&#39;,
        },
    &#39;relative/path/to/file-2&#39;: {
        &#39;key-2&#39;: &#39;value-2&#39;,
        },
    }
</code></pre></div>

<p>这是移动特定文件的安装位置的方便方法：</p>
<div class="highlight"><pre><span></span><code># Take advantage of the following defaults
# STATIC_SAVE_AS = &#39;{path}&#39;
# STATIC_URL = &#39;{path}&#39;
STATIC_PATHS = [
    &#39;static/robots.txt&#39;,
    ]
EXTRA_PATH_METADATA = {
    &#39;static/robots.txt&#39;: {&#39;path&#39;: &#39;robots.txt&#39;},
    }
</code></pre></div>

<h2>源设置<a href="https://www.osgeo.cn/pelican/settings.html#feed-settings">¶</a></h2>
<p>默认情况下，Pelican使用Atom提要。不过，如果您愿意，也可以使用RSS提要。</p>
<p>鹈鹕为你所有的文章生成分类提要和提要。默认情况下，它不会为标记生成提要，但可以使用 <code>TAG_FEED_ATOM</code> 和 <code>TAG_FEED_RSS</code> 设置：</p>
<ul>
<li>FEED_DOMAIN = None, i.e. base URL is "/"</li>
</ul>
<p>域预先添加了源URL。因为feed url应该始终是绝对的，所以强烈建议定义它（例如，在https://feeds.example.com"). 如果您已经明确定义了SITEURL（见上文），并希望将同一域用于提要，则可以设置： <code>FEED_DOMAIN = SITEURL</code> .</p>
<ul>
<li>FEED_ATOM = None, i.e. no Atom feed</li>
</ul>
<p>保存Atom源的位置。</p>
<ul>
<li>FEED_ATOM_URL = None</li>
</ul>
<p>Atom源的相对URL。如果未设置， <code>FEED_ATOM</code> 同时用于保存位置和URL。</p>
<ul>
<li>FEED_RSS = None, i.e. no RSS</li>
</ul>
<p>保存RSS源的位置。</p>
<ul>
<li>FEED_RSS_URL = None</li>
</ul>
<p>RSS源的相对URL。如果未设置， <code>FEED_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>FEED_ALL_ATOM = 'feeds/all.atom.xml'</li>
</ul>
<p>保存all posts Atom提要的位置：此提要将包含所有帖子，而不管其语言如何。</p>
<ul>
<li>FEED_ALL_ATOM_URL = None</li>
</ul>
<p>所有帖子Atom提要的相对URL。如果未设置， <code>FEED_ALL_ATOM</code> 同时用于保存位置和URL。</p>
<ul>
<li>FEED_ALL_RSS = None, i.e. no all-posts RSS</li>
</ul>
<p>保存allpostsrss提要的位置：这个提要将包含所有文章，而不管它们的语言是什么。</p>
<ul>
<li>FEED_ALL_RSS_URL = None</li>
</ul>
<p>所有帖子RSS源的相对URL。如果未设置， <code>FEED_ALL_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>CATEGORY_FEED_ATOM = 'feeds/{slug}.atom.xml'</li>
</ul>
<p>保存类别Atom提要的位置。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>CATEGORY_FEED_ATOM_URL = None</li>
</ul>
<p>类别Atom提要的相对URL，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a> 如果未设置， <code>CATEGORY_FEED_ATOM</code> 同时用于保存位置和URL。</p>
<ul>
<li>CATEGORY_FEED_RSS = None, i.e. no RSS</li>
</ul>
<p>保存类别RSS提要的位置，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>CATEGORY_FEED_RSS_URL = None</li>
</ul>
<p>类别RSS提要的相对URL，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a> 如果未设置， <code>CATEGORY_FEED_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>AUTHOR_FEED_ATOM = 'feeds/{slug}.atom.xml'</li>
</ul>
<p>保存作者Atom源的位置。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>AUTHOR_FEED_ATOM_URL = None</li>
</ul>
<p>作者Atom提要的相对URL，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a> 如果未设置， <code>AUTHOR_FEED_ATOM</code> 同时用于保存位置和URL。</p>
<ul>
<li>AUTHOR_FEED_RSS = 'feeds/{slug}.rss.xml'</li>
</ul>
<p>保存作者RSS源的位置。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>AUTHOR_FEED_RSS_URL = None</li>
</ul>
<p>作者RSS源的相对URL，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a> 如果未设置， <code>AUTHOR_FEED_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>TAG_FEED_ATOM = None, i.e. no tag feed</li>
</ul>
<p>保存标记Atom提要的位置，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>TAG_FEED_ATOM_URL = None</li>
</ul>
<p>标记Atom提要的相对URL，包括 <code>{{slug}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id15">2</a></p>
<ul>
<li>TAG_FEED_RSS = None, i.e. no RSS tag feed</li>
</ul>
<p>输出标记RSS提要的相对URL，包括 <code>{{slug}}</code> 占位符。如果未设置， <code>TAG_FEED_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>FEED_MAX_ITEMS<a href="https://www.osgeo.cn/pelican/settings.html#FEED_MAX_ITEMS">¶</a></li>
</ul>
<p>源中允许的最大项数。进给项目数量默认不受限制。</p>
<ul>
<li>RSS_FEED_SUMMARY_ONLY = True</li>
</ul>
<p>仅在 <code>description</code> RSS源的标签。如果设置为 <code>False</code> ，则会包含全部内容。此设置不影响Atom订阅源，只影响RSS订阅源。</p>
<p>如果不想生成这些提要中的一些或任何一个，请将上述变量设置为 <code>None</code> .</p>
<ul>
<li>2<em>(<a href="https://www.osgeo.cn/pelican/settings.html#id5">1</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id6">2</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id7">3</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id8">4</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id9">5</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id10">6</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id11">7</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id12">8</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id13">9</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id14">10</a>)</em></li>
</ul>
<p><code>{{slug}}</code> 替换为类别/作者/标记的名称。</p>
<h2>分页<a href="https://www.osgeo.cn/pelican/settings.html#pagination">¶</a></h2>
<p>Pelican的默认行为是在索引页上列出所有文章标题以及简短描述。虽然这对中小型站点很有效，但是有大量文章的站点可能会从分页这个列表中获益。</p>
<p>您可以使用以下设置来配置分页。</p>
<ul>
<li>DEFAULT_ORPHANS = 0</li>
</ul>
<p>最后一页允许的最小文章数。如果您不希望最后一页只包含少数文章，请使用此选项。</p>
<ul>
<li>DEFAULT_PAGINATION = False</li>
</ul>
<p>页面上要包含的最大文章数，不包括孤立项。False禁用分页。</p>
<ul>
<li>PAGINATED_TEMPLATES = {'index': None, 'tag': None, 'category': None, 'author': None}</li>
</ul>
<p>使用分页的模板，以及页面上要包含的文章数。如果该值为 <code>None</code> ，默认为 <code>DEFAULT_PAGINATION</code> .</p>
<ul>
<li>
<p>PAGINATION_PATTERNS = (</p>
</li>
<li>
<p>(1, '{name}{extension}', '{name}{extension}'),</p>
</li>
<li>
<p>(2, '{name}{number}{extension}', '{name}{number}{extension}'),</p>
</li>
<li>
<p>)</p>
</li>
</ul>
<p>用于确定高级分页输出的一组模式。</p>
<h3>使用分页模式<a href="https://www.osgeo.cn/pelican/settings.html#using-pagination-patterns">¶</a></h3>
<p>默认情况下 <code>.../foo.html</code> 创建为 <code>.../foo2.html</code> 等等 <code>PAGINATION_PATTERNS</code> 设置可用于更改此设置。它需要一个三元组的序列，其中每个三元组包括：</p>
<div class="highlight"><pre><span></span><code>(minimum_page, page_url, page_save_as,)
</code></pre></div>

<p>为了 <code>page_url</code> 和 <code>page_save_as</code> ，可以使用多个变量。 <code>{{url}}</code> 和 <code>{{save_as}}</code> 分别对应于 <code>*_URL</code> 和 <code>*_SAVE_AS</code> 相应页面类型的值（例如。 <code>ARTICLE_SAVE_AS</code> ）如果 <code>{{save_as}} == foo/bar.html</code> 然后 <code>{{name}} == foo/bar</code> 和 <code>{{extension}} == .html</code> . <code>{{base_name}}</code> 等于 <code>{{name}}</code> 只是它去掉了尾部 <code>/index</code> 如果存在。 <code>{{number}}</code> 等于页码。</p>
<p>例如，如果要保持第一页不变，但将后续页放在 <code>.../page/2/</code> 等等，你可以 <code>PAGINATION_PATTERNS</code> 如下：</p>
<div class="highlight"><pre><span></span><code>PAGINATION_PATTERNS = (
    (1, &#39;{url}&#39;, &#39;{save_as}&#39;),
    (2, &#39;{base_name}/page/{number}/&#39;, &#39;{base_name}/page/{number}/index.html&#39;),
)
</code></pre></div>

<p>如果希望将模式应用于列表中的最后一页，请使用 <code>-1</code> 作为 <code>minimum_page</code> 值：：</p>
<div class="highlight"><pre><span></span><code>(-1, &#39;{base_name}/last/&#39;, &#39;{base_name}/last/index.html&#39;),
</code></pre></div>

<h2>翻译<a href="https://www.osgeo.cn/pelican/settings.html#translations">¶</a></h2>
<p>Pelican提供了一种翻译文章的方法。见 <a href="https://www.osgeo.cn/pelican/content.html">Content</a> 有关详细信息，请参阅。</p>
<ul>
<li>DEFAULT_LANG = 'en'</li>
</ul>
<p>要使用的默认语言。</p>
<ul>
<li>ARTICLE_TRANSLATION_ID = 'slug'</li>
</ul>
<p>元数据属性，用于标识哪些项目是彼此的翻译。可以是字符串或字符串的集合。设置为 <code>None</code> 或 <code>False</code> 禁用翻译标识。</p>
<ul>
<li>PAGE_TRANSLATION_ID = 'slug'</li>
</ul>
<p>元数据属性，用于标识哪些页面是彼此的翻译。可以是字符串或字符串的集合。设置为 <code>None</code> 或 <code>False</code> 禁用翻译标识。</p>
<ul>
<li>TRANSLATION_FEED_ATOM = 'feeds/all-{lang}.atom.xml'</li>
</ul>
<p>保存Atom提要以供翻译的位置。 <a href="https://www.osgeo.cn/pelican/settings.html#id19">3</a></p>
<ul>
<li>TRANSLATION_FEED_ATOM_URL = None</li>
</ul>
<p>用于翻译的Atom提要的相对URL，包括 <code>{{lang}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id19">3</a> 如果未设置， <code>TRANSLATION_FEED_ATOM</code> 同时用于保存位置和URL。</p>
<ul>
<li>TRANSLATION_FEED_RSS = None, i.e. no RSS</li>
</ul>
<p>将RSS源放在何处进行翻译。</p>
<ul>
<li>TRANSLATION_FEED_RSS_URL = None</li>
</ul>
<p>用于翻译的RSS源的相对URL，包括 <code>{{lang}}</code> 占位符。 <a href="https://www.osgeo.cn/pelican/settings.html#id19">3</a> 如果未设置， <code>TRANSLATION_FEED_RSS</code> 同时用于保存位置和URL。</p>
<ul>
<li>3<em>(<a href="https://www.osgeo.cn/pelican/settings.html#id16">1</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id17">2</a>,<a href="https://www.osgeo.cn/pelican/settings.html#id18">3</a>)</em></li>
</ul>
<p>{lang}是语言代码</p>
<h2>内容排序<a href="https://www.osgeo.cn/pelican/settings.html#ordering-content">¶</a></h2>
<ul>
<li>NEWEST_FIRST_ARCHIVES = True</li>
</ul>
<p>先按最新日期订购档案。（错误：先按日期订购旧产品。）</p>
<ul>
<li>REVERSE_CATEGORY_ORDER = False</li>
</ul>
<p>颠倒分类顺序。（True:按字母顺序反向列出；默认按字母顺序列出。）</p>
<ul>
<li>ARTICLE_ORDER_BY = 'reversed-date'</li>
</ul>
<p>定义文章如何 (<code>articles_page.object_list</code> 在模板中)被排序。有效选项为：字符串形式的元数据(使用 <code>reversed-</code> 反转排序顺序的前缀)，特殊选项 <code>'basename'</code> 它将使用文件的基本名称(不带路径)，或者使用自定义函数从文章中提取排序关键字。使用值 <code>'date'</code> 将按时间顺序对文章进行排序，而默认值 <code>'reversed-date'</code> ，将以相反的顺序按日期对文章进行排序(即，最新的文章排在第一位)。</p>
<ul>
<li>PAGE_ORDER_BY = 'basename'</li>
</ul>
<p>定义页面如何 (<code>pages</code> 模板中的变量）进行排序。选项与 <code>ARTICLE_ORDER_BY</code> . 默认值， <code>'basename'</code> 将按基名称对页进行排序。</p>
<h2>主题<a href="https://www.osgeo.cn/pelican/settings.html#themes">¶</a></h2>
<p>创造Pelican的主题是在一个专门的部分（见 <a href="https://www.osgeo.cn/pelican/themes.html#theming-pelican">主题</a> ). 但是，下面是与主题相关的设置。</p>
<ul>
<li>THEME<a href="https://www.osgeo.cn/pelican/settings.html#THEME">¶</a></li>
</ul>
<p>用于生成输出的主题。可以是指向主题文件夹的相对或绝对路径，也可以是默认主题或通过安装的主题的名称 <a href="https://www.osgeo.cn/pelican/pelican-themes.html">Pelican主题</a> （见下文）。</p>
<ul>
<li>THEME_STATIC_DIR = 'theme'</li>
</ul>
<p>输出路径中的目标目录，Pelican将在其中放置从中收集的文件 THEME_STATIC_PATHS . 默认是 theme .</p>
<ul>
<li>THEME_STATIC_PATHS = ['static']</li>
</ul>
<p>要复制的静态主题路径。默认值为 static ，但如果你的主题有其他静态路径，你可以把它们放在这里。如果在此设置中定义的路径中包含具有相同名称的文件或目录，则它们将逐渐被覆盖。</p>
<ul>
<li>THEME_TEMPLATES_OVERRIDES = []</li>
</ul>
<p>您希望Jinja2在搜索主题之前搜索模板的路径列表 <code>templates/</code> 目录。允许重写单个主题模板文件，而不必派生现有主题。Jinja2按以下顺序搜索：文件 <code>THEME_TEMPLATES_OVERRIDES</code> 首先，主题是 <code>templates/</code> .也可以使用 <code>{{% extends %}}</code> 指令使用 <code>!theme</code> 前缀如下例所示：<code>{% extends '!theme/article.html' %}</code></p>
<ul>
<li>CSS_FILE = 'main.css'</li>
</ul>
<p>指定要加载的CSS文件。</p>
<p>默认情况下，有两个主题可用。可以使用 <code>THEME</code> 设置或通过 <code>-t</code> 选择权 <code>pelican</code> 命令：</p>
<ul>
<li>不是我的主意</li>
<li>简单（“纯文本”的同义词）：</li>
</ul>
<p>还有许多其他主题可在https://github.com/getpelican/pelican-themes。Pelican <a href="https://www.osgeo.cn/pelican/pelican-themes.html">Pelican主题</a> ，一个管理主题的小脚本。</p>
<p>您可以定义自己的主题，可以从头开始，也可以复制和修改预先存在的主题。给你 <a href="https://www.osgeo.cn/pelican/themes.html">a guide on how to create your theme</a> .</p>
<p>以下是指定首选主题的示例方法：</p>
<div class="highlight"><pre><span></span><code><span class="c1"># Specify name of a built-in theme</span>
<span class="n">THEME</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="s2">&quot;notmyidea&quot;</span>
<span class="c1"># Specify name of a theme installed via the pelican-themes tool</span>
<span class="n">THEME</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="s2">&quot;chunk&quot;</span>
<span class="c1"># Specify a customized theme, via path relative to the settings file</span>
<span class="n">THEME</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="s2">&quot;themes/mycustomtheme&quot;</span>
<span class="c1"># Specify a customized theme, via absolute path</span>
<span class="n">THEME</span><span class="w"> </span><span class="o">=</span><span class="w"> </span><span class="s2">&quot;/home/myuser/projects/mysite/themes/mycustomtheme&quot;</span>
</code></pre></div>

<p>内置的 <code>notmyidea</code> 主题可以很好地利用以下设置。在你的主题中也可以随意使用它们。</p>
<ul>
<li>SITESUBTITLE<a href="https://www.osgeo.cn/pelican/settings.html#SITESUBTITLE">¶</a></li>
</ul>
<p>标题中出现的副标题。</p>
<ul>
<li>DISQUS_SITENAME<a href="https://www.osgeo.cn/pelican/settings.html#DISQUS_SITENAME">¶</a></li>
</ul>
<p>Pelican可以处理不喜欢的评论。在此处指定discus sitename标识符。</p>
<ul>
<li>GITHUB_URL<a href="https://www.osgeo.cn/pelican/settings.html#GITHUB_URL">¶</a></li>
</ul>
<p>你的GitHub URL（如果你有）。然后它将使用这些信息来创建GitHub功能区。</p>
<ul>
<li>GOOGLE_ANALYTICS<a href="https://www.osgeo.cn/pelican/settings.html#GOOGLE_ANALYTICS">¶</a></li>
</ul>
<p>设置为 <code>UA-XXXXX-Y</code> 属性的跟踪ID以激活Google Analytics。</p>
<ul>
<li>GA_COOKIE_DOMAIN<a href="https://www.osgeo.cn/pelican/settings.html#GA_COOKIE_DOMAIN">¶</a></li>
</ul>
<p>设置Google Analytics跟踪代码的cookie域字段。默认为 <code>auto</code> .</p>
<ul>
<li>GOSQUARED_SITENAME<a href="https://www.osgeo.cn/pelican/settings.html#GOSQUARED_SITENAME">¶</a></li>
</ul>
<p>设置为“XXX-yyyyy-X”以激活GoSquared。</p>
<ul>
<li>MENUITEMS<a href="https://www.osgeo.cn/pelican/settings.html#MENUITEMS">¶</a></li>
</ul>
<p>显示在主菜单开始处的附加菜单项的元组（标题、URL）列表。</p>
<ul>
<li>LINKS<a href="https://www.osgeo.cn/pelican/settings.html#LINKS">¶</a></li>
</ul>
<p>链接出现在标头上的元组（标题、URL）列表。</p>
<ul>
<li>SOCIAL<a href="https://www.osgeo.cn/pelican/settings.html#SOCIAL">¶</a></li>
</ul>
<p>显示在“社交”部分的元组（标题、URL）列表。</p>
<ul>
<li>TWITTER_USERNAME<a href="https://www.osgeo.cn/pelican/settings.html#TWITTER_USERNAME">¶</a></li>
</ul>
<p>允许在文章中添加一个按钮，以鼓励其他人在tweet上发布文章。如果您想显示此按钮，请添加您的Twitter用户名。</p>
<ul>
<li>LINKS_WIDGET_NAME<a href="https://www.osgeo.cn/pelican/settings.html#LINKS_WIDGET_NAME">¶</a></li>
</ul>
<p>允许重写链接小部件的名称。如果未指定，则默认为“链接”。</p>
<ul>
<li>SOCIAL_WIDGET_NAME<a href="https://www.osgeo.cn/pelican/settings.html#SOCIAL_WIDGET_NAME">¶</a></li>
</ul>
<p>允许重写“社交”小部件的名称。如果未指定，则默认为“社交”。</p>
<p>此外，您可以使用“宽”版本的 <code>notmyidea</code> 通过将以下内容添加到配置中来创建主题：</p>
<div class="highlight"><pre><span></span><code>CSS_FILE = &quot;wide.css&quot;
</code></pre></div>

<h2>登录中<a href="https://www.osgeo.cn/pelican/settings.html#logging">¶</a></h2>
<p>有时，站点生成过程中可能会出现一长串警告。找到 <strong>有意义的</strong> 在大量烦人的日志输出中间出现错误消息可能会非常棘手。为了过滤掉冗余的日志消息，Pelican提供了 <code>LOG_FILTER</code> 设置。</p>
<p><code>LOG_FILTER</code> 应该是元组的列表 <code>(level, msg)</code> ，每个日志都由日志级别组成（最多 <code>warning</code> )以及要忽略的信息。只需在列表中填充要隐藏的日志消息，它们就会被过滤掉。</p>
<p>例如：</p>
<div class="highlight"><pre><span></span><code><span class="kn">import</span> <span class="nn">logging</span>
<span class="n">LOG_FILTER</span> <span class="o">=</span> <span class="p">[(</span><span class="n">logging</span><span class="o">.</span><span class="n">WARN</span><span class="p">,</span> <span class="s1">&#39;TAG_SAVE_AS is set to False&#39;</span><span class="p">)]</span>
</code></pre></div>

<p>可以通过模板筛选出消息。查看源代码以获取模板。</p>
<p>例如：</p>
<div class="highlight"><pre><span></span><code><span class="kn">import</span> <span class="nn">logging</span>
<span class="n">LOG_FILTER</span> <span class="o">=</span> <span class="p">[(</span><span class="n">logging</span><span class="o">.</span><span class="n">WARN</span><span class="p">,</span> <span class="s1">&#39;Empty alt attribute for image </span><span class="si">%s</span><span class="s1"> in </span><span class="si">%s</span><span class="s1">&#39;</span><span class="p">)]</span>
</code></pre></div>

<p>警告</p>
<p>通过模板使消息静音是一个危险的特性。有可能无意中用同一模板过滤出多个消息类型（包括来自未来Pelican版本的消息）。小心操作。</p>
<p>注解</p>
<p>如果 <code>--debug</code> 通过。</p>
<h2>只读修改内容<a href="https://www.osgeo.cn/pelican/settings.html#reading-only-modified-content">¶</a></h2>
<p>为了加快构建过程，Pelican可以选择只阅读带有修改内容的文章和页面。</p>
<p>当Pelican要读取某些内容源文件时：</p>
<ol>
<li>
<p>如果出现以下情况，则从缓存文件加载以前生成的文件的哈希或修改时间信息 <code>LOAD_CONTENT_CACHE</code> 是 <code>True</code> . 这些文件存储在 <code>CACHE_PATH</code> 目录。如果文件在缓存文件中没有记录，则照常读取。</p>
</li>
<li>
<p>文件检查依据 <code>CHECK_MODIFIED_METHOD</code> ：</p>
</li>
</ol>
<blockquote>
<ul>
<li>如果设置为 <code>'mtime'</code> ，检查文件的修改时间。</li>
<li>如果设置为由 <code>hashlib</code> 模块，例如。 <code>'md5'</code> ，则会检查文件哈希。</li>
<li>如果设置为任何其他值或在缓存文件中找不到有关文件的必要信息，则照常读取内容。</li>
</ul>
</blockquote>
<ol>
<li>
<p>如果认为该文件未更改，则会从缓存中加载与该文件对应的先前生成中保存的内容数据，并且不会读取该文件。</p>
</li>
<li>
<p>如果认为文件已更改，则读取该文件，并且新的修改信息和内容数据将保存到缓存中，如果 <code>CACHE_CONTENT</code> 是 <code>True</code> .</p>
</li>
</ol>
<p>如果 <code>CONTENT_CACHING_LAYER</code> 设置为 <code>'reader'</code> （默认情况下），将缓存读取器返回的原始内容和元数据。如果此设置改为 <code>'generator'</code> ，则缓存已处理的内容对象。缓存已处理的内容对象可能与插件冲突（因为某些与读取相关的信号可能会被跳过），并且 <code>WITH_FUTURE_DATES</code> 功能（作为 <code>draft</code> 缓存内容对象的状态不会随时间自动更改）。</p>
<p>检查修改时间比比较文件哈希要快，但它不那么可靠，因为 <code>mtime</code> 信息可能会丢失，例如，在使用 <code>cp</code> 或 <code>rsync</code> 没有 <code>mtime</code> 保存模式（用于 <code>rsync</code> 可以通过传递 <code>--archive</code> 标志）。</p>
<p>缓存文件是Python pickle，因此它们可能无法被不同版本的Python读取，因为pickle格式经常更改。如果遇到这样的错误，则会捕捉到该错误，并以新格式自动重建缓存文件。缓存文件也将在 <code>GZIP_CACHE</code> 设置已更改。</p>
<p>这个 <code>--ignore-cache</code> 命令行选项在需要重新生成整个缓存时非常有用，例如在对设置文件进行会影响缓存内容的修改时，或者只是出于调试目的。当Pelican在autoreload模式下运行时，修改设置文件将使其自动忽略缓存，如果 <code>AUTORELOAD_IGNORE_CACHE</code> 是 <code>True</code> .</p>
<p>请注意，即使使用缓存内容，也始终写入所有输出，因此生成的 <code>*.html</code> 文件总是会更改。因此， <code>rsync</code> -基于的上载可以从 <code>--checksum</code> 选择权。</p>
<h2>仅写入选定内容<a href="https://www.osgeo.cn/pelican/settings.html#writing-only-selected-content">¶</a></h2>
<p>当只在一篇文章或页面上工作，或对主题进行调整时，通常希望尽快生成并审阅您的工作。在这种情况下，生成和写入整个站点输出通常是不必要的。在中只指定所需的文件作为输出路径 <code>WRITE_SELECTED</code> 列表， <strong>only</strong> 这些文件将被写入。也可以在命令行上使用 <code>--write-selected</code> 选项，它接受以逗号分隔的输出文件路径列表。默认情况下，此列表为空，因此写入所有输出。看到了吗 <a href="https://www.osgeo.cn/pelican/publish.html#site-generation">站点生成</a> 了解更多详细信息。</p>
<h2>示例设置<a href="https://www.osgeo.cn/pelican/settings.html#example-settings">¶</a></h2>
<div class="highlight"><pre><span></span><code><span class="n">AUTHOR = &#39;Alexis Métaireau&#39;</span>
<span class="n">SITENAME = &quot;Alexis&#39; log&quot;</span>
<span class="n">SITESUBTITLE = &#39;A personal blog.&#39;</span>
<span class="n">SITEURL = &#39;http://blog.notmyidea.org&#39;</span>
<span class="n">TIMEZONE = &quot;Europe/Paris&quot;</span>

<span class="c"># can be useful in development, but set to False when you&#39;re ready to publish</span>
<span class="n">RELATIVE_URLS = True</span>

<span class="n">GITHUB_URL = &#39;http://github.com/ametaireau/&#39;</span>
<span class="n">DISQUS_SITENAME = &quot;blog-notmyidea&quot;</span>
<span class="n">REVERSE_CATEGORY_ORDER = True</span>
<span class="n">LOCALE = &quot;C&quot;</span>
<span class="n">DEFAULT_PAGINATION = 4</span>
<span class="n">DEFAULT_DATE = (2012, 3, 2, 14, 1, 1)</span>

<span class="n">FEED_ALL_RSS = &#39;feeds/all.rss.xml&#39;</span>
<span class="n">CATEGORY_FEED_RSS = &#39;feeds/{slug}.rss.xml&#39;</span>

<span class="n">LINKS = ((&#39;Biologeek&#39;, &#39;http://biologeek.org&#39;),</span>
<span class="n">         (&#39;Filyb&#39;, &quot;http://filyb.info/&quot;),</span>
<span class="n">         (&#39;Libert-fr&#39;, &quot;http://www.libert-fr.com&quot;),</span>
<span class="n">         (&#39;N1k0&#39;, &quot;http://prendreuncafe.com/blog/&quot;),</span>
<span class="n">         (&#39;Tarek Ziadé&#39;, &quot;http://ziade.org/blog&quot;),</span>
<span class="n">         (&#39;Zubin Mithra&#39;, &quot;http://zubin71.wordpress.com/&quot;),)</span>

<span class="n">SOCIAL = ((&#39;twitter&#39;, &#39;http://twitter.com/ametaireau&#39;),</span>
<span class="n">          (&#39;lastfm&#39;, &#39;http://lastfm.com/user/akounet&#39;),</span>
<span class="n">          (&#39;github&#39;, &#39;http://github.com/ametaireau&#39;),)</span>

<span class="c"># global metadata to all the contents</span>
<span class="n">DEFAULT_METADATA = {&#39;yeah&#39;: &#39;it is&#39;}</span>

<span class="c"># path-specific metadata</span>
<span class="n">EXTRA_PATH_METADATA = {</span>
<span class="n">    &#39;extra/robots.txt&#39;: {&#39;path&#39;: &#39;robots.txt&#39;},</span>
<span class="n">    }</span>

<span class="c"># static paths will be copied without parsing their contents</span>
<span class="n">STATIC_PATHS = [</span>
<span class="n">    &#39;images&#39;,</span>
<span class="n">    &#39;extra/robots.txt&#39;,</span>
<span class="n">    ]</span>

<span class="c"># custom page generated with a jinja2 template</span>
<span class="n">TEMPLATE_PAGES = {&#39;pages/jinja2_template.html&#39;: &#39;jinja2_template.html&#39;}</span>

<span class="c"># there is no other HTML content</span>
<span class="n">READERS = {&#39;html&#39;: None}</span>

<span class="c"># code blocks with line numbers</span>
<span class="n">PYGMENTS_RST_OPTIONS = {&#39;linenos&#39;: &#39;table&#39;}</span>

<span class="c"># foobar will not be used, because it&#39;s not in caps. All configuration keys</span>
<span class="c"># have to be in caps</span>
<span class="n">foobar = &quot;barbaz&quot;</span>
</code></pre></div>

<p><a href="https://www.osgeo.cn/pelican/publish.html"> Previous</a><a href="https://www.osgeo.cn/pelican/plugins.html">Next </a></p>
        </div>
    </article>
</section>
  </article>

  <!-- Footer -->
  <footer>
    <address id="about" class="vcard body">
      Blog powered by <a href="http://getpelican.com/">Pelican</a>, 
      which takes great advantage of <a href="http://python.org">Python</a>.
      Theme <a href="https://github.com/quack1/notebook/">Notebook</a> by <a href="https://twitter.com/_Quack1">@Quack1</a>.
    </address>
  </footer>


</body>
</html>