{% extends 'mobile/base.html' %}
{% load static from staticfiles %}

{% block mainbody %}
<!--内容区-->
<article class="main-container">
		
	<div class="member-header">
		<button class="button" onclick="location.href='{% url 'mobile_index' %}'"><span class="return"><i></i></span></button>
		<p> &nbsp; &nbsp;</p>
		<div class="memberhead"><img src="{% static 'mobile/img/head03.jpg' %}" alt=""><i class="icon-woman"></i></div>
		<ul>
			<li class="line-w"><b> &nbsp; </b><h1>{{request.session.mobileuser.mobile}}</h1></li>
		</ul>
		<div class="waves1 icon-waves"></div>
		<div class="waves2 icon-waves"></div>
		<div class="waves3 icon-waves"></div>
	</div>
	
	<div class="list">
		<ul class="line">
			<li onclick="location.href='{% url 'mobile_member_orders' %}'"><i class="icon-allorders"></i>我的订单<span class="icon-arrowright"></span></li>
		</ul>
		<ul class="line">
			<li onclick="location.href='member-data.html'"><i class="icon-head"></i>我的资料<span class="icon-arrowright"></span></li>
			<li onclick="location.href='member-pwd.html'"><i class="icon-pwd"></i>修改密码<span class="icon-arrowright"></span></li>
			<li onclick="location.href='member-coupon.html'"><i class="icon-coupons"></i>优惠券<span class="icon-arrowright"></span></li>
			<li onclick="location.href='member-Addrees.html'"><i class="icon-address"></i>收货地址<span class="icon-arrowright"></span></li>
		</ul>
		<ul class="line">
			<li onclick="location.href='{% url 'mobile_member_logout' %}'"><i class="icon-out"></i>退出</li>
		</ul>
	</div>
	
</article>
{% endblock %}

